@import '~antd/dist/antd.css';
.App {
  text-align: center;
  height: 100%;
}

.app-header {
  width: 100%;
  left: 0;
  z-index: 1030;
  /* display: flex; */
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.15);
}

.app-header-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  /* position: relative; */
  /* transition: all 0.2s ease; */
}

.logo {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background-color: transparent;
  transition: all 0.2s ease;
}

.logo img {
    max-width: 90%;
    max-height: 70px;
}

.product h1 {
  font-size: 50px;
}

.product span {
  font-size: 14px;
  text-align: left;
}
